<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="Datos2" connectionString="Data Source=xe;User Id=SYSTEM;Password=1234;Integrated Security=no;" providerName="Oracle.DataAccess.Client" />
		<!--<add connectionString="Data Source=xe;User Id=Datos2;Password=1234;Unicode=true;" name="conexion" />-->

	</connectionStrings>
	
</configuration>